In [21]:
import pandas as pd

In [22]:
pd.__version__

'1.4.0'

In [23]:
df = pd.read_csv('./data/yellow_tripdata_2021-01.csv')

C:\Users\Radu\AppData\Local\Temp/ipykernel_23604/3152851825.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./data/yellow_tripdata_2021-01.csv')

In [24]:
df.shape

(1369765, 18)

### Pandas IO to get SQL Schema

In [25]:
pd.io.sql.get_schema(df, name='yellow_taxi_data')

'CREATE TABLE "yellow_taxi_data" (\n"VendorID" REAL,\n  "tpep_pickup_datetime" TEXT,\n  "tpep_dropoff_datetime" TEXT,\n  "passenger_count" REAL,\n  "trip_distance" REAL,\n  "RatecodeID" REAL,\n  "store_and_fwd_flag" TEXT,\n  "PULocationID" INTEGER,\n  "DOLocationID" INTEGER,\n  "payment_type" REAL,\n  "fare_amount" REAL,\n  "extra" REAL,\n  "mta_tax" REAL,\n  "tip_amount" REAL,\n  "tolls_amount" REAL,\n  "improvement_surcharge" REAL,\n  "total_amount" REAL,\n  "congestion_surcharge" REAL\n)'

In [26]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" REAL,
  "tpep_pickup_datetime" TEXT,
  "tpep_dropoff_datetime" TEXT,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

#### Change datatype for timestamp pickup and dropoff columns to Datetime

In [27]:
df = df.astype({
    'tpep_pickup_datetime': 'datetime64'
    , 'tpep_dropoff_datetime': 'datetime64'
})

In [28]:
df.head(10)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2.0,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1.0,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2.0,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1.0,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1.0,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1.0,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1.0,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2.0,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1.0,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5
5,1.0,2021-01-01 00:16:29,2021-01-01 00:24:30,1.0,1.60,1.0,N,224,68,1.0,8.0,3.0,0.5,2.35,0.0,0.3,14.15,2.5
6,1.0,2021-01-01 00:00:28,2021-01-01 00:17:28,1.0,4.10,1.0,N,95,157,2.0,16.0,0.5,0.5,0.00,0.0,0.3,17.30,0.0
7,1.0,2021-01-01 00:12:29,2021-01-01 00:30:34,1.0,5.70,1.0,N,90,40,2.0,18.0,3.0,0.5,0.00,0.0,0.3,21.80,2.5
8,1.0,2021-01-01 00:39:16,2021-01-01 01:00:13,1.0,9.10,1.0,N,97,129,4.0,27.5,0.5,0.5,0.00,0.0,0.3,28.80,0.0
9,1.0,2021-01-01 00:26:12,2021-01-01 00:39:46,2.0,2.70,1.0,N,263,142,1.0,12.0,3.0,0.5,3.15,0.0,0.3,18.95,2.5

## Create connection to Postgresql

In [29]:
from sqlalchemy import create_engine

In [30]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [31]:
engine.connect()

#### You can generate the DDL statement for Postgresql

In [32]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" FLOAT(53),
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

#### We will need to insert data in chunks, so as to not crash the container

Since the entire dataset has over 1 mil rows, if we try to insert 1 mil rows in a single transaction, we will crash the container, as it happened before, [remember?](https://stackoverflow.com/questions/10317114/postgresql-drop-table-doesnt-work). To solve this, we will use Python iterators.

PRO TIP: You can use function hints and have a pop-up documentation in Jupyter if you press **SHIFT+TAB**

In [13]:
df_iter = pd.read_csv('./data/yellow_tripdata_2021-01.csv', iterator=True, chunksize=50000)

#### You can just create the table, by getting the header of the dataframe and sending it to the Postgresql db

In [14]:
df.head(0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

#### Now for populating the table with rows

In [19]:
from time import time

In [16]:
while True:
    
    try:
        t0 = time()
        df_tmp = next(df_iter)

        df_tmp = df_tmp.astype({
            'tpep_pickup_datetime': 'datetime64'
            , 'tpep_dropoff_datetime': 'datetime64'
        })

        df_tmp.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
        
        tx = time()
    
        print('Inserted chunk, iteration took %.3f seconds' % (tx - t0))
    except StopIteration:
        print('Finished adding rows - no more rows to be added')
        break

Inserted chunk, iteration took 5.929 seconds
Inserted chunk, iteration took 6.010 seconds
Inserted chunk, iteration took 5.869 seconds
Inserted chunk, iteration took 5.362 seconds
Inserted chunk, iteration took 5.334 seconds
Inserted chunk, iteration took 5.503 seconds
Inserted chunk, iteration took 5.651 seconds
Inserted chunk, iteration took 5.582 seconds
Inserted chunk, iteration took 5.600 seconds
Inserted chunk, iteration took 5.551 seconds
Inserted chunk, iteration took 5.650 seconds
Inserted chunk, iteration took 5.617 seconds
Inserted chunk, iteration took 6.011 seconds
Inserted chunk, iteration took 5.110 seconds
Inserted chunk, iteration took 5.243 seconds
Inserted chunk, iteration took 5.292 seconds
Inserted chunk, iteration took 5.316 seconds
Inserted chunk, iteration took 6.289 seconds
Inserted chunk, iteration took 5.342 seconds
Inserted chunk, iteration took 5.327 seconds
Inserted chunk, iteration took 5.287 seconds
Inserted chunk, iteration took 5.295 seconds
Inserted chunk, iteration took 5.447 seconds
Inserted chunk, iteration took 5.566 seconds
Inserted chunk, iteration took 5.598 seconds

C:\Users\Radu\AppData\Local\Temp/ipykernel_2408/1856593142.py:5: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_tmp = next(df_iter)

Inserted chunk, iteration took 5.214 seconds
Inserted chunk, iteration took 4.692 seconds
Inserted chunk, iteration took 2.050 seconds
Finished adding rows - no more rows to be added